<!-- @format -->

<div class="footer">
  <a href="https://www.dataseer.io" target="_blank">dataseer.ai</a>
  <a href="https://github.com/kermitt2/dataseer-web" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</div>