// Modal
div(class='modal fade' id='theHelp' role='dialog')
    div(class='modal-dialog')
      div(class='modal-content')
        div(class='modal-header')
          h4(class='modal-title') Some Help 
        div(class='modal-body')
          p We just need to write some help.
        div(class='modal-footer')
          button(type='button' class='btn btn-default' data-dismiss='modal') Close
