// Modal
div(class='modal fade' id='quit-modal' tabindex='-1' role='dialog' aria-labelledby='quit-modal-lg' aria-hidden='true')
  div(class='modal-dialog modal-lg modal-dialog-centered quit-modal-lg' role='document')
    div(class='modal-content')
      div(class='modal-header')
        h5(class='modal-title' id='quit-modal-lg')
          Datasets no saved !
        button.blue.btn.waves-effect.waves-light(type='button' class='close' data-dismiss='modal' aria-label='Close') x
      div(class='modal-body')
        You did not save your changes... They will be lost if you do not save them before leaving the application
      div(class='modal-footer')
        button.blue.btn.btn-secondary.waves-effect.waves-light(type='button' class='btn btn-secondary' data-dismiss='modal')
          Close
        button.blue.btn.btn-primary.waves-effect.waves-light(type='button' class='btn btn-primary' id='save-changes')
          Save changes


