extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12 text-center')
        div(class='header') DATASEER

  each document, index in documents
    div(class='row')
      div(class='col-12')
        div(class='d-block')
          a(href=baseUrl + 'documents/' + document._id) Document #{document._id}