extends ../layout

block content

  div(id='user-navbar-lg' class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; margin-bottom:10px;')
    div
      div(id='user-lg')
        if current_user
          label Connected as : #{current_user.username} (#{current_user.role.label})
        else
          label Sign up or Sign in to get access to Dataseer Application
      div(id='navbar-lg')
        ul
          if current_user
            li
              a(href='/') Home
            li
              a(href='/myDocuments') My documents
            li
              a(href='/backoffice/upload') Upload document
            li
              a(href='/settings') Settings
            li
              a(href='/signout') Sign out
          else
            li
              a(href='/') Home
            li
              a(href='/signup') Sign up
            li
              a(href='/signin') Sign in
            li
              a(href='/forgotPassword') Forgot password

  div(class='bordered' style='border-color:#ffffff;border-width:0px;')
    div(class='container-fluid')
      div(class='row')
        div(class='col-6')
          div(class='row')
            div(class='col-12 text-center')
              div(id='view-selection' class='btn-group btn-group-toggle bordered' data-toggle='buttons' style='padding:0;')
                label(class='btn btn-secondary btn-sm active') full text
                  input(type='radio' name='options' id='tei_all_visible' value='allVisible' autocomplete='off' checked)
                label(class='btn btn-secondary btn-sm') section
                  input(type='radio' name='options' id='tei_only_dataseer' value='onlyDataseer' autocomplete='off')
                label(class='btn btn-secondary btn-sm') paragraph
                  input(type='radio' name='options' id='tei_only_datasets' value='onlyDatasets' autocomplete='off')
          div(class='row')
            div(class='col-12')
              div(id='document-view' class='bordered')
        div(class='col-4')
          div(class='row')
            div(id='dataset-form' class='form bordered')
        div(class='col-2')
          div(class='row')
            div(id='datasets-list' class='form bordered')
            if current_user.role.label === 'curator'
              button(id='datasets_validation' class='btn btn-primary' title='Unavailable for curators' disabled) Finish
            else
              button(id='datasets_validation' class='btn btn-primary') Finish

  include ../modals/quit.pug
  include ../modals/documents/datasets.pug
  include ../modals/help.pug

  if demo
    include ../forms/demo/datasets.pug