extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12 text-center')
        div(class='header') DATASEER

    div(class='row')
      div(class='col-6')
        div(class='container-fluid document' id='xhtml') !{document.xhtml}
      div(class='col-6')
        div
          div(id='datasets-list' class='form')
            include ../forms/listDatasets.pug
          div(id='dataset-update-form' class='form')
              include ../forms/updateDataset.pug

    div(class='row')
      div(class='col-6 text-center')
        button(id='datasets_validation' class='btn btn-primary') All Datasets processed : Finish

  if demo
    include ../forms/demo/datasets.pug