extends ../layout

block content

  div(id='user-navbar-lg' class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px; margin-bottom:10px;')
    div
      div(id='user-lg' style='position:absolute; top:0px; right:10px; text-align:right;')
        if current_user
          label(style='font-size:small;') Connected as : <b>#{current_user.username}</b> (#{current_user.role.label})
        else
          label(style='font-size:small;') 
            a(href='/signup') Sign up 
            | or 
            a(href='/signin') Sign in 
            | to access DataSeer
      div(id='navbar-lg')
        ul
          if current_user
            li
              a(href='/myDocuments' class='nav') My documents


            if current_user.role.label === 'curator' || current_user.role.label === 'annotator'
              li
                a(href='/documents' class='nav') All documents
            li
              a(href='/backoffice/upload' class='nav') Upload
            if current_user.role.label === 'curator'
              li
                a(href='/backoffice/accounts' class='nav') Accounts
            li
              a(href='/settings' class='nav') Settings
            li
              a(href='/signout' class='nav') Sign out
          else
            li
              a(href='/signup' class='nav') Sign up
            li
              a(href='/signin' class='nav') Sign in
            li
              a(href='/forgotPassword' class='nav') Forgot password

  div(class='bordered' style='border-color:#ffffff;border-width:0px;')
    div(class='container-fluid')
      div(class='row')
        div(class='col-6')
          div(class='row')
            div(class='col-12 text-center')
              div(id='view-selection' class='btn-group btn-group-toggle bordered' data-toggle='buttons' style='padding:0;')
                label(class='btn btn-secondary btn-sm active') full text
                  input(type='radio' name='options' id='tei_all_visible' value='allVisible' autocomplete='off' checked)
                label(class='btn btn-secondary btn-sm') section
                  input(type='radio' name='options' id='tei_only_dataseer' value='onlyDataseer' autocomplete='off')
                label(class='btn btn-secondary btn-sm') paragraph
                  input(type='radio' name='options' id='tei_only_datasets' value='onlyDatasets' autocomplete='off')
          div(class='row')
            div(class='col-12')
              div(id='document-view' class='bordered')
        div(class='col-4')
          div(class='row')
            div(id='dataset-form' class='form bordered')
        div(class='col-2')
          div(class='row')
            div(id='datasets-list' class='form bordered')
            if current_user.role.label === 'curator'
              button(id='datasets_validation' class='btn btn-primary' title='Unavailable for curators' disabled) Finish
            else
              button(id='datasets_validation' class='btn btn-primary') Finish

  include ../modals/quit.pug
  include ../modals/documents/datasets.pug
  include ../modals/help.pug

  if demo
    include ../forms/demo/datasets.pug