.row-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

i {
  margin-left: 4px;
  margin-right: 4px; 
}

.row>*,
.form-row>* {
  vertical-align: middle;
}

/*dataset-form*/

#dataset-form {
  position: fixed;
  height: 75%;
  width: 27.5%;
  overflow: auto;
  margin-top: 25 !important;
  margin-bottom: 25px !important;
}

#dataset-form #dataset\.id {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

#dataset-form #dataset\.status {
  display: inline-block;
  width: auto;
}

#dataset-form #dataset\.id .key,
#dataset-form #dataset\.confidence .key,
#dataset-form #dataset\.dataType .key {
  display: inline-block;
}

#dataset-form .form-row {
  margin-bottom: 20px; 
}

#dataset-form .form-row > div {
  width: 100%;
  display: block;
}

#dataset-form .form-row .key {
  margin-bottom: 4px; 
  margin-right: 5px;
  display: block;
  font-weight: bold;
}

#dataset-form .form-row .value {
  display: inline-block;
}

#dataset-form .form-row button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px; 
}

#dataset-form .form-row input {
  display: inline-block;
}
#dataset-form .form-row select {
  display: inline-block;
  width: 75%;
}

/*document-view*/

#document-view {
  position: fixed;
  height: 75%;
  width: 45%;
  overflow: auto;
}

#document-view span[type="sentence"][from="dataseer"] {
  border: 1px solid black;
}

/* TEI CUSTOMIZATION */
#document-view tei>text>div {
  font-weight: bold;
}

#document-view tei>text>div>p {
  margin-top: 10px;
  font-weight: normal;
}

#document-view tei>text>div>*:not(p) {
  margin-top: 5px;
  font-weight: normal;
}

#document-view tei>text>div>p>* {
  margin-top: 5px;
}

#document-view tei teiHeader,
#document-view tei back {
  display: none;
}

#document-view tei title {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

#document-view tei s {
  text-decoration: none;
  margin-right: 3px; 
}

#document-view tei s:not([corresp]):not([id]):hover {
  background-color: gainsboro;
  cursor: pointer;
}

#document-view tei s:not([corresp]):not([id]).selected {
  background-color: limegreen;
  cursor: pointer;
}

#document-view tei s[corresp],
#document-view tei s[id] {
  border: none;
  cursor: pointer;
  background-color: lightyellow;
}

#document-view.tei-only-dataseer tei>text>div:not([subtype="dataseer"]) {
  display: none;
}

/*datasets-list*/

#datasets-list {
  overflow: auto;
  position: fixed;
  display: block;
  height: 75%;
  width: 15%;
  margin-top: 25 !important;
  margin-bottom: 25px !important;
}

#datasets-list .selected {
  border: 1px solid lightgray;
  background-color: #EEEEEE;
}

#datasets-list .form-row {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

#datasets-list .form-row > * {
  display: inline-block;
}

#datasets-list .form-row .value {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#datasets-list .form-row button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

#datasets_validation,
#new_dataset {
  margin-top: 25px;
}

.warning-color-dark {
  color: #FF8800;
}

.success-color-dark {
  color: #007E33;
}

#datasets-error-modal .modal-header {
  color: white;
  background-color: #0099CC;
}

#datasets-error-modal .modal-body {
  color: #CC0000;
}

#quit-modal .modal-header {
  color: white;
  background-color: #ffbb33;
}

#quit-modal .modal-body {
  color: #CC0000;
}