.row-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

i {
  margin-left: 4px;
  margin-right: 4px; 
}

.btn-lite {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row > *,
.form-row > * {
  vertical-align: middle;
}

.bordered {
  border: 3px solid lightgray;
  border-radius: 5px;
}

/*view-selection*/

#view-selection {
  border-bottom: 3px solid lightgray;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

#view-selection label {
  width: 34%;
}

/*dataset-form*/

body > div > div > div.row > div:nth-child(2) {
  padding-left: 0;
}

#dataset-form {
  width: 100%;
  height: 87vh;
  overflow: auto;
  padding: 15px;
}

#dataset-form .form-row:first-child {
  display: block;
  text-align: center;
}

#dataset-form .form-row:first-child > div,
#dataset-form .form-row:first-child > button {
   vertical-align: middle; 
}


#dataset-form .form-row:last-child {
  display: table;
  width: 100%;
}

#dataset-form .form-row:last-child > button {
  display: table-cell;
  text-align: left;
}

#dataset-form .form-row:last-child > button:last-child {
  display: table-cell;
  text-align: right;
}

#dataset-form #dataset\.id {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

#dataset-form #dataset\.status {
  display: inline-block;
  width: auto;
}

#dataset-form #dataset\.id .key,
#dataset-form #dataset\.cert .key,
#dataset-form #dataset\.dataType .key,
#dataset-form #dataset\.subType .key {
  display: inline-block;
}

#dataset-form .form-row {
  margin-bottom: 20px;
}

#dataset-form .form-row > div {
  width: 100%;
  display: block;
}

#dataset-form .form-row .key {
  margin-right: 5px;
  display: inline-block;
  font-weight: bold;
}

#dataset-form .form-row .value {
  display: inline-block;
}

#dataset-form .form-row > button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px; 
}

#dataset-form .form-row input {
  display: inline-block;
}
#dataset-form .form-row select {
  display: inline-block;
  width: 75%;
}

/*document-view*/

body > div > div > div.row > div:nth-child(1) {
  padding-left: 0;
}

#document-view {
  border-top: 0px solid lightgray;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 15px;
  width: 100%;
  height: 83vh;
  overflow: auto;
}

/* TEI CUSTOMIZATION */
#document-view tei > text > div {
  font-weight: bold;
}

#document-view tei > text > div > p {
  margin-top: 10px;
  font-weight: normal;
}

#document-view tei > text > div > *:not(p) {
  margin-top: 5px;
  font-weight: normal;
}

#document-view tei > text > div > p > * {
  margin-top: 5px;
}

#document-view tei teiHeader encodingdesc {
  display: none;
}
#document-view tei teiHeader profiledesc {
  display: none;
}
#document-view tei teiHeader filedesc publicationstmt {
  display: none;
}
#document-view tei teiHeader filedesc sourcedesc {
  display: none;
}
#document-view tei teiHeader filedesc titlestmt title {
  font-weight: bold; !important
}

#document-view tei back {
  display: none;
}

#document-view tei title {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

#document-view tei s {
  text-decoration: none;
  margin-right: 2px;
  padding-right: 2px;
}

#document-view tei s {
  text-decoration: none;
}

#document-view tei p > s:not(:first-child) {
  margin-left: 1px;
  padding-left: 1px;
}

#document-view tei p > s:not(:last-child) {
  margin-right: 1px;
  padding-right: 1px;
}

#document-view tei s.hover {
  background-color: gainsboro;
  cursor: pointer;
}

#document-view tei s.selected {
  background-color: rgb(0, 123, 255);
  color: white;
  cursor: pointer;
}

#document-view tei s[corresp],
#document-view tei s[id] {
  cursor: pointer;
  background-color: lightyellow;
}

/*datasets-list*/

#datasets-list {
  padding: 0;
  width: 100%;
  height: 80vh;
  overflow: auto;
}

#datasets-list .selected {
  border: 1px solid lightgray;
  background-color: #EEEEEE;
}

#datasets-list .form-row {
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

#datasets-list > * {
  text-align: center;
}

#datasets-list .form-row > * {
  display: inline-block;
}

#datasets-list > div > button > i {
  margin-right: 0 !important;
}

#datasets-list .form-row > *:first-child {
  margin-left: 0 !important;
}

#datasets-list .form-row > *:last-child {
  margin-right: 0!important;
}

#datasets-list .form-row .value {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#datasets-list>.container-fluid {
  text-align: center;
}

#datasets-list .form-row button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

#datasets-list .form-row button:has(.fa-unlink) {
  position:relative;
  left:0%;
}

#datasets_validation {
  width: 100%;
  margin-top: 15px;
}

.warning-color-dark {
  color: #FF8800;
}

.success-color-dark {
  color: #007E33;
}

#datasets-error-modal .modal-header {
  color: white;
  background-color: rgb(0, 123, 255);
}

#datasets-error-modal .modal-body {
  color: #CC0000;
}

#datasets-confirm-modal .modal-header {
  color: white;
  background-color: rgb(0, 123, 255);
}

#datasets-confirm-modal .modal-data {
  display: none;
}

#datasets-confirm-modal .modal-body {
  color: #CC0000;
}

#quit-modal .modal-header {
  color: white;
  background-color: #ffbb33;
}

#quit-modal .modal-body {
  color: #CC0000;
}