html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font: 14px "Open Sans", "Lucida Grande", Helvetica, sans-serif;
  color: #3a3a3a;
  background-color: lightgray;
}

.footer {
  flex-shrink: 0;
}

.foot-col {
  background-color: #FFFFFF;
  border-top: 1px solid #184D7E;
  border-bottom: 1px solid #184D7E;
  border-left: 1px solid #184D7E;
  border-right: 1px solid #184D7E;
}

#document-view #pdf-viewer {
    background: lightgray;
}

#document-view #pdf-viewer .page {
  margin-bottom: 10px; 
}

#document-view #pdf-viewer .contourAnnotationsLayer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 1;
  overflow: hidden;
}

#document-view #pdf-viewer .contourAnnotationsLayer .activeContour,
#document-view #pdf-viewer .contourAnnotationsLayer .selected,
#document-view #pdf-viewer .contourAnnotationsLayer .coloredContour,
#document-view #pdf-viewer .contourAnnotationsLayer .corresp {
  border-width: 3px !important;
}

#document-view #pdf-viewer .annotationsLayer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 1;
  overflow: hidden;
}

#document-view #pdf-viewer .annotationsLayer s {
  cursor: pointer;
  z-index: 1200;
}

#document-view #pdf-viewer .annotationsLayer .hover {
  cursor: pointer;
}

#document-view #pdf-viewer .annotationsLayer .selected {
  cursor: pointer;
}

#document-view #pdf-viewer .annotationsLayer [datasetId] {
  cursor: pointer;
  background-color: rgba(255, 255, 224, 0.3);
}

#document-view #pdf-viewer .annotationsLayer s[corresp],
#document-view #pdf-viewer .annotationsLayer s[id] {
  cursor: pointer;
  background-color: lightyellow;
}

#document-view #pdf-viewer #sentencesLayer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 1;
  overflow: hidden;
}

#user-navbar {
  display: none;
}

#user-navbar-lg {
  display: table;
}

#user-navbar-lg > div {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#user-lg,
#navbar-lg {
  display: table-cell;
}

#user-lg {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#user-lg label {
  display: block;
  height: 100%;
  margin: 0px;
}

#navbar-lg ul {
  list-style: none;
  margin: 0px;
}

#navbar-lg li {
  display: inline-block;
  font-size: 1.25em;
  margin-right: 15px;
}

.row-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

i {
  margin-left: 4px;
  margin-right: 4px; 
}

.btn-lite {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row > *,
.form-row > * {
  vertical-align: middle;
}

.bordered {
  border: 3px solid lightgray;
  border-radius: 5px;
}

/*view-selection*/

#view-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

#view-selection > label {
  flex: 1;
}

/*dataset-form*/

body > div > div > div.row > div:nth-child(2) {
  padding-left: 0;
}

#dataset-form {
  width: 100%;
  padding: 15px;
}

#dataset-form .form-row:first-child {
  display: block;
  text-align: center;
}

#dataset-form .form-row:first-child > div,
#dataset-form .form-row:first-child > button {
   vertical-align: middle; 
}


#dataset-form .buttons-container {
  display: table;
  width: 100%;
}

#dataset-form .form-row > button:last-child {
  display: table-cell;
  text-align: right;
}

#dataset-form .form-row > button:first-child,
#dataset-form .form-row > button {
  display: table-cell;
  text-align: left;
}

#dataset-form #dataset\.id {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

#dataset-form #dataset\.status {
  display: inline-block;
  width: auto;
}

#dataset-form #dataset\.id .key,
#dataset-form #dataset\.cert .key,
#dataset-form #dataset\.dataType .key,
#dataset-form #dataset\.subType .key {
  display: inline-block;
}

#dataset-form .form-row {
  margin-bottom: 20px;
}

#dataset-form .form-row > div {
  width: 100%;
  display: block;
}

#dataset-form .form-row .key {
  margin-right: 5px;
  display: inline-block;
  font-weight: bold;
}

#dataset-form .form-row .value {
  display: inline-block;
}

#dataset-form .form-row button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px; 
}

#dataset-form .form-row input {
  display: inline-block;
}
#dataset-form .form-row select {
  display: inline-block;
  width: 75%;
}

/*document-view*/

body > div > div > div.row > div:nth-child(1) {
  padding-left: 0;
}

#document-view {
  border-top: 0px solid lightgray;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 15px;
  width: 100%;
}

/* TEI CUSTOMIZATION */
#document-view tei teiHeader profiledesc abstract {
  display: inline-block;
}

#document-view tei > text > div,
#document-view tei teiHeader profiledesc abstract > div {
  font-weight: bold;
}

#document-view tei > text > div > p,
#document-view tei teiHeader profiledesc abstract > div > p {
  margin-top: 10px;
  font-weight: normal;
}

#document-view tei > text > div > *:not(p),
#document-view tei teiHeader profiledesc abstract > div > *:not(p) {
  margin-top: 5px;
  font-weight: normal;
}

#document-view tei > text > div > p > *,
#document-view tei teiHeader profiledesc abstract > div > p > * {
  margin-top: 5px;
}

#document-view tei teiHeader encodingdesc {
  display: none;
}

#document-view tei teiHeader filedesc publicationstmt {
  display: none;
}

#document-view tei teiHeader filedesc sourcedesc {
  display: none;
}

#document-view tei teiHeader filedesc titlestmt title {
  font-weight: bold; !important
}

#document-view tei back div[type="references"] {
  display: none;
}

#document-view tei back div[type="acknowledgements"] {
  display: none;
}

#document-view tei figure[type="table"] table {
  display: none;
}

#document-view tei title {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

#document-view tei s {
  text-decoration: none;
  margin-right: 2px;
  padding-right: 2px;
}

#document-view tei s {
  text-decoration: none;
}

#document-view tei p > s:not(:first-child) {
  margin-left: 1px;
  padding-left: 1px;
}

#document-view tei p > s:not(:last-child) {
  margin-right: 1px;
  padding-right: 1px;
}

#document-view tei s.hover {
  background-color: gainsboro;
  cursor: pointer;
}

#document-view #xml .selected {
  background-color: rgb(2, 116, 190);
  color: white;
  cursor: pointer;
}

#document-view [datasetId] {
  cursor: pointer;
  background-color: rgba(255,255,224, 0.3);
}

#document-view s[corresp],
#document-view s[id] {
  cursor: pointer;
  background-color: lightyellow;
}

/*datasets-list*/

#datasets-list {
  background-color: #FFFFFF;
  border: 1px solid #184D7E;
  width: 100%;
}

#datasets-list .form-row > .item {
  display: block;
  margin: 5px;
}

#datasets-list .selected {
  border: 1px solid lightgray;
  background-color: #EEEEEE;
}

#datasets-list .form-row {
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

#datasets-list > * {
  text-align: center;
}

#datasets-list > div > * {
  display: inline-block;
  vertical-align:top;
  height: 100px;
}

#datasets-list #newDataset > button {
  margin-top: 33.3px;
}

#datasets-list #newDataset > button i {
  margin-right: 0!important;
}

#datasets-list #newDataset {
  min-width: 20%;
}

#datasets-list #datasetsListItems {
  max-width: 80%;
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

#datasets-list .form-row > * {
  cursor: pointer;
  display: inline-block;
}

#datasets-list .form-row > *:first-child {
  margin-left: 0 !important;
}

#datasets-list .form-row > *:last-child {
  margin-right: 0!important;
}

#datasets-list .form-row .value {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#datasets-list>.container-fluid {
  text-align: center;
}

#datasets-list .form-row button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

#datasets-list .form-row button:has(.fa-unlink) {
  position:relative;
  left:0%;
}

#datasets_validation {
  display: inline-block;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

#previous_step {
  margin-right: 1%;
  display: inline-block;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.warning-color-dark {
  color: #FF8800;
}

.success-color-dark {
  color: #007E33;
}

#datasets-error-modal .modal-header {
  color: white;
  background-color: rgb(0, 123, 255);
}

#datasets-error-modal .modal-body {
  color: #CC0000;
}

#datasets-confirm-modal .modal-header {
  color: white;
  background-color: rgb(0, 123, 255);
}

#datasets-confirm-modal .modal-data {
  display: none;
}

#datasets-confirm-modal .modal-body {
  color: #CC0000;
}

#quit-modal .modal-header {
  color: white;
  background-color: #ffbb33;
}

#quit-modal .modal-body {
  color: #CC0000;
}

.pdfViewer {
  overflow: hidden;
}