.row-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.authors-container {
  font-weight: normal;
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.statements-container {
  font-weight: normal;
  max-height: 125px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.datasets-container {
  font-weight: normal;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.datasets-container table {
  width: 100%;
}

.datasets-container table th {
  padding-top: 10px;
  padding-bottom: 5px;
}

.datasets-container table td {
  min-width: 125px;
}

#standard_user_feedback_link,
#annotator_feedback_link {
  float: right;
}