extends layout

block content

  h2 Forgot password ? Reset it now.

  form(role='form', action='/forgotPassword',method='post', style='max-width: 300px;')
    if error
      div(class='alert alert-warning' role='alert') #{error}
    if success
      div(class='alert alert-success' role='alert') #{success}
    .form-group
      input.form-control(type='email', name='username', placeholder='mail address')
    .btn-group
      button.blue.btn.btn-default.waves-effect.waves-light(type='submit') Reset password

