extends layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12')
        div(class='d-block text-center')
          h1= title
        div(class='d-block text-center')
          p Welcome to #{title}
    div(class='row')
      div(class='col-10 offset-1')
        div(class='d-block title')
          h2 BackOffice
        div(class='d-block subtitle')
          h3 You can request thoses BackOffice routes :
        div(class='d-block routes')
          table(class='table table-striped')
            thead
              tr
                th(scope='col') Method
                th(scope='col') URL structure
                th(scope='col') Description
            tbody
              tr
                td GET
                td
                  a(href='backoffice/upload/') /backoffice/upload/
                td Get backoffice User Interface
              tr
                td POST
                td /backoffice/upload/
                td
                  div Send files to backoffice
                  div available parameters :
                  ul
                    li uploadedFiles : file or list of files
                    li dataseerML : set "dataseer-ml" to call dataseer-ml on uploadedFiles (or empty to not process file(s))
    div(class='row')
      div(class='col-10 offset-1')
        div(class='d-block title')
          h2 Web Application
        div(class='d-block subtitle')
          h3 You can request thoses WebApllication routes :
        div(class='d-block routes')
          table(class='table table-striped')
            thead
              tr
                th(scope='col') Method
                th(scope='col') URL structure
                th(scope='col') Description
            tbody
              tr
                td GET
                td
                  a(href='documents/?limit=20') /api/documents/?limit=[20]
                td Get list of first [limit] Documents (by default, limit will be set to 20)
              tr
                td GET
                td /documents/:id
                td Get User Interface to process a single Document object with Id :id
    div(class='row')
      div(class='col-10 offset-1')
        div(class='d-block title')
          h2 API
        div(class='d-block subtitle')
          h3 You can request thoses API routes :
        div(class='d-block routes')
          table(class='table table-striped')
            thead
              tr
                th(scope='col') Method
                th(scope='col') URL structure
                th(scope='col') Description
            tbody
              tr
                td GET
                td
                  a(href='api/documents/?limit=20') /api/documents/?limit=[20]
                td Get [limit] first Documents (by default, limit will be set to 20)
              tr
                td GET
                td /api/documents/:id
                td Get a single Document object with Id :id
              tr
                td POST
                td /api/documents/
                td Add a document (structure of data available in GitHub documentation)
              tr
                td PUT
                td /api/documents/:id
                td Modify the Document object with Id :id
              tr
                td DELETE
                td /api/documents/:id
                td Delete the Document object with Id :id
