doctype html
html
  head
    title DataSeer
    link(rel='stylesheet', href='/stylesheets/style.css')
    // link(rel='stylesheet', href='/stylesheets/debug.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  body
    block content

if document
  div(id='document.id' class='data' value=(document._id))
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/randomColor.min.js')
  script(src='/javascripts/mongoDB.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/process/'+ document.status + '.js')