extends layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='col-10 offset-1')
          div(class='d-block title')
            h2 Privacy