/*
 * @prettier
 */

input,
button {
  outline: none !important;
}

.btn-primary,
.btn-outline-primary {
  background-color: #184d7e !important;
  border-color: #184d7e !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #1e3945 !important;
  border-color: #1e3945 !important;
}
