<!-- @format -->

<div id="app">
  <div class="contour privacy container-fluid">
    div(class='col-10 offset-1')
      div(class='d-block title')
        h2 Dataseer Web Privacy Policy

        <p>Dataseer Web is web application of <a href="https://dataseer.ai/">Dataseer</a>. This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>

        h3 Topics:

        ul
          li What data do we collect?
          li How do we collect your data?
          li How will we use your data?
          li How do we store your data?
          li Marketing
          li What are your data protection rights?
          li What are cookies?
          li How do we use cookies?
          li What types of cookies do we use?
          li How to manage your cookies
          li Privacy policies of other websites
          li Changes to our privacy policy
          li How to contact us
          li How to contact the appropriate authorities
          li What data do we collect?

        h3 What data do we collect?

        p Dataseer Web collects the following data:

        ul
          li Personal identification information: email address, hashed password (and your organization).
          li Research text metadata & file.

        h3 How do we collect your data?

        p You directly provide Dataseer Web with most of the data we collect. We collect data and process data when you:

        ul
          li Register online or place an order for any of our products or services.
          li Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.
          li Use or view our website via your browser’s cookies.

        h3 How will we use your data?

        p Dataseer Web collects your data so that we can:

        ul
          li Manage your account.
          li Email you with special offers on other products and services we think you might like.
          li <a href="https://dataseer.ai/how-it-works/">Process</a> your research text.

        p The only company with full access to the data is DataSeer Research Data Services Ltd.

        h3 How do we store your data?
        
        p Dataseer Web securely stores your data in encrypted servers hosted by Linode, LLC located in Atlanta, Georgia, USA.

        h3 Marketing

        p Dataseer Web would not send you information about another products or services.

        h3 What are your data protection rights?

        p Dataseer Web would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

        ul
          li The right to access – You have the right to request Dataseer Web for copies of your personal data. We may charge you a small fee for this service.

          li The right to rectification – You have the right to request that Dataseer Web correct any information you believe is inaccurate. You also have the right to request Dataseer Web to complete the information you believe is incomplete.

          li The right to erasure – You have the right to request that Dataseer Web erase your personal data, under certain conditions.

          li The right to restrict processing – You have the right to request that Dataseer Web restrict the processing of your personal data, under certain conditions.

          li The right to object to processing – You have the right to object to Dataseer Web’s processing of your personal data, under certain conditions.

          li The right to data portability – You have the right to request that Dataseer Web transfer the data that we have collected to another organization, or directly to you, under certain conditions.

        p If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: info@dataseer.ai

        h3 Cookies

        p Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.

        p For further information, visit allaboutcookies.org.

        h3 How do we use cookies?

        p Dataseer Web uses cookies in a range of ways to improve your experience on our website, including:

        ul
          li Keeping you signed in.
          li Understanding how you use our website.

        h3 What types of cookies do we use?

        p There are a number of different types of cookies, however, our website uses:

        ul
          li Functionality – Dataseer Web uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
          li Advertising – Dataseer Web uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Dataseer Web sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.

        h3 How to manage cookies

        p You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.

        h3 Privacy policies of other websites

        p The Dataseer Web website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.

        h3 Changes to our privacy policy

        p Dataseer Web keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 February 2021.

        h3 How to contact us

        p If you have any questions about Dataseer Web’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.

        p Email us at: info@dataseer.ai
