// Button
button(id='datasets-error-modal-btn' type='button' data-toggle='modal' data-target='#datasets-error-modal' class='hidden')
// Modal
div(class='modal fade' id='datasets-error-modal' tabindex='-1' role='dialog' aria-labelledby='datasets-error-modal-label' aria-hidden='true')
  div(class='modal-dialog modal-lg modal-dialog-centered datasets-error-modal-lg' role='document')
    div(class='modal-content')
      div(class='modal-header')
        h5(class='modal-title' id='datasets-error-modal-label') Dataset Error
        button(type='button' class='close' data-dismiss='modal' aria-label='Close') x
      div(class='modal-body' id='datasets-error-modal-body')
          #Body


