<p>Hi #{user.fullname},</p>
<p>You can reset your password <a href="#{url}"><strong>here</strong></a></p>
<p>If you don't want to reset your password just ignore this email.</p>
<p>This email has been created automatically.</p>