/*
 * @prettier
 */

.add-item {
  max-width: 16rem !important;
}

.input-file,
.input-select {
  width: 350px;
}

.article_title {
  max-height: 125px;
  text-overflow: ellipsis;
  overflow: auto;
}

.item label {
  text-align: center;
  width: 100%;
}

.item button[name="showLogs"] {
  margin-top: 5px;
}