extends ../../../shared/layout.pug

block head
  link(rel="stylesheet" type="text/css" href=conf.root + "/views/backoffice/documents/app.css")

block app
  include ./app.pug

block scripts
  script(src=conf.root + "/views/backoffice/documents/app.js")