body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #063046;
  background-color: lightgray;
}

#user_id,
#user_role {
  display: none;
}

.nav li {
  margin-right: 5px;
}

.crud-button-action {
  margin-top: 50px !important;
  margin-bottom: 25px !important;
}

.demo {
  background-color: lightgray;
}

.hidden {
  display: none;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.routes {
  margin-top: 20px;
  margin-bottom: 20px;
}

#document-view {
  background-color: white;
  font-family: Times, "Times New Roman", serif;
  font-size: 14px;
}

#dataset-form {
  background-color: white;
}

#datasets-list {
  background-color: white;
}

.btn-primary {
  background-color: #184D7E;
  border-color: #184D7E;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #1E3945;
    border-color: #1E3945; 
}

.btn-secondary {
  background-color: #848484;
  border-color: #848484;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #1E3945 !important;
  border-color: #1E3945;
}

