body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hidden {
  display: none !important;
}

.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.data {
  display: none;
}

.fixed {
  position: fixed;
}

.row-margin {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.key {
  margin-right: 2px;
}

.value {
  margin-left: 2px;
  display: inline-block;
}

.crud-button-action {
  margin-top: 50px !important;
  margin-bottom: 25px !important;
}

.demo {
  background-color: lightgray;
}
