<!-- @format -->

<div id="app">
  <div class="notifications">
    <div v-for="notification in notifications" :class="notification.class" role="alert">
      <span v-html="notification.html"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="contour">
    <div class="center search container-fluid">
      <div class="search-row row align-items-center">
        <div class="col">
          <h2>Custom search</h2>
        </div>
      </div>
      <div class="search-row row align-items-center">
        <div class="col skip-limit-sort">
          <div>
            <div class="title">Skip</div>
            <input class="form-control" type="text" name="skip" placeholder="Skip" v-model="search.properties.skip" />
          </div>
          <div>
            <div class="title">Limit</div>
            <input class="form-control" type="text" name="limit" placeholder="Limit" v-model="search.properties.limit" />
          </div>
          <div>
            <div class="title">Sort</div>
            <select class="custom-select form-select" v-model="search.properties.sort">
              <option value="asc">Ascending</option>
              <option value="desc" selected>Descending</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="title">Visible</div>
          <div v-for="state in search.properties.visibleStates" class="custom-checkbox">
            <input type="checkbox" v-model="state.selected" />
            <label>
            | {{ state.value ? "Yes" : "No" }}
            </label>
          </div>
        </div>
      </div>
      <div class="search-row row align-items-center">
        <div class="col">
          <div class="search-buttons">
            <button ref="previous" class="btn btn-sm btn-primary previous-page" name="previous" v-on:click.stop="previousPage(event)" >
              <i class="fas fa-chevron-left"></i>
              <span>
              | {{ search.properties.limit }} previous result(s)
              </span>
            </button>
            <span class="loader-sm" ref="previousPageLoader">
              <i class="fas fa-circle-notch fa-spin"></i>
            </span>
            <button class="btn btn-sm btn-primary btn-search" ref="search" v-on:click.stop="searchItems(event)">
              <span>Search</span>
            </button>
            <span class="loader-md" ref="searchLoader">
              <i class="fas fa-circle-notch fa-spin"></i>
            </span>
            <button ref="next" class="btn btn-sm btn-primary next-page" name="next" v-on:click.stop="nextPage(event)" >
              <span>
              | {{ search.properties.limit }} next result(s)
              </span>
              <i class="fas fa-chevron-right"></i>
            </button >
            <span class="loader-sm" ref="nextPageLoader">
              <i class="fas fa-circle-notch fa-spin"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="center collection container-fluid">
      <div class="collection-row row align-items-center">
        <div class="col">
          <h2>Organizations</h2>
        </div>
      </div>
      <div class="collection-row row align-items-center">
        <div class="center full-width bold">
          <span>
          | {{ filteredItems.length }} result(s)
          </span>
          <span v-if="collection.selectedItemsCount > 0">
          | ({{ collection.selectedItemsCount }} selected)
          </span>
          <button v-if="filteredItems.length > 0" title="Click here to share your results" v-on:click.stop="copyURL(event)" class="btn btn-sm btn-primary">
            <i class="fas fa-copy"></i>
          </button>
        </div>
      </div>
      <div class="filter-row row align-items-center">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-text" :title="filter.strict ? 'Will return items that match with all keywords' : 'Will return items that match with at least one keyword'">
              <input type="checkbox" class="btn-check" id="strict-mode" name="filter.strict" v-model="filter.strict" autocomplete="off" />
              <label class="btn btn-sm btn-outline-secondary" for="strict-mode">" "</label>
            </div>
            <div class="input-group-text" :title="filter.caseSensitive ? 'Case sensitive' : 'Case insensitive'">
              <input type="checkbox" class="btn-check" id="case-sensitive" name="filter.caseSensitive" v-model="filter.caseSensitive" autocomplete="off" />
              <label class="btn btn-sm btn-outline-secondary" for="case-sensitive">Aa</label>
            </div>
            <input type="text" class="form-control" title="Too much results ? Enter some keywords to filter this list!" name="filter.value" v-model="filter.value" placeholder="Enter some keywords here to filter results" />
          </div>
        </div>
      </div>
      <div class="collection-row header row align-items-center">
        <div class="col col-checkbox">
          <input ref="multipleSelectionsCheckbox" type="checkbox" @change="setSelectedStateOfAllItems($event)" />
        </div>
        <div class="col sorting" v-on:click.stop="sort($event)" property="name">Name</div>
        <div class="col">Properties</div>
        <div class="col">Action</div>
      </div>
      <div class="collection-row row align-items-center">
        <div class="col" v-if="filteredItems.length === 0 && !loading">
          <span class="no-data">No data</span>
        </div>
      </div>
      <div class="collection-row row align-items-center" v-if="loading">
        <div class="col text-truncate">
          <span class="no-data">Loading data...</span>
        </div>
      </div>
      <div ref="multipleSelectionsTitle" class="collection-row row align-items-center hidden">
        <div class="col">
          <span class="multiple-selections-title">Update (or delete) multiples organizations</span>
        </div>
      </div>
      <div ref="multipleSelectionsRow" class="collection-row row align-items-center">
        <div class="col col-checkbox">
          <input type="checkbox" disabled />
        </div>
        <div class="col">
          <input class="form-control" type="text" disabled />
        </div>
        <div class="col">
          <div class="col">
            <div class="form-check form-switch">
              <label>
                <input class="form-check-input" type="checkbox" v-model="multipleSelections.properties.visible" />
                | Visible
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-md btn-primary" v-on:click.stop="updateMultipleItems(event)">
            <i class="far fa-save"></i>
          </button>
          <span class="loader-sm" ref="multipleSelectionsUpdateLoader">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
          <button class="btn btn-md btn-danger" v-on:click.stop="deleteMultipleItems(event)">
            <i class="far fa-trash-alt"></i>
          </button>
          <span class="loader-sm" ref="multipleSelectionsDeleteLoader">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
        </div>
      </div>
      <div :value="item.properties._id" class="collection-row item row align-items-center" v-for="item in filteredItems" :class="[item.status.modified ? 'modified' : '', item.status.error ? 'hasError' : '']">
        <div class="hidden">
        | {{ item.raw }}
        </div>
        <div class="col col-checkbox">
          <input type="checkbox" v-model="item.selected" :value="item.selected" @change="itemSelectedChange($event)" />
        </div>
        <div class="col">
          <input type="text" class="form-control" v-on:change="modified(item.properties._id)" name="name" v-model="item.properties.name" />
        </div>
        <div class="col">
          <div class="form-check form-switch">
            <label>
              <input class="form-check-input" v-on:change="modified(item.properties._id)" type="checkbox" v-model="item.properties.visible" />
              | Visible
            </label>
          </div>
        </div>
        <div class="col">
          <button v-on:click.stop="updateItem($event)" class="btn btn-md btn-primary" :value="item.properties._id" title="Update this item">
            <i class="far fa-save"></i>
          </button>
          <span class="loader-sm" value="update">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
          <button v-on:click.stop="deleteItem($event)" class="btn btn-md btn-danger" title="Delete this item">
            <i class="far fa-trash-alt"></i>
          </button>
          <span class="loader-sm" value="delete">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
        </div>
      </div>
      <div v-if="user.role && user.role.key ==='administrator'" class="collection-row row align-items-center">
        <div class="col">
          <button class="btn btn-md btn-primary" v-if="!newItem.showed" @click="changeNewItemVisibility()">
            <div>
              <i class="fas fa-plus-circle"></i>
            </div>
          </button>
          <button class="btn btn-md btn-primary" v-if="newItem.showed" @click="changeNewItemVisibility()">
            <div>
              <i class="fas fa-minus-circle"></i>
            </div>
          </button>
        </div>
      </div>
      <div v-if="user.role && user.role.key ==='administrator'" ref="newItemTitle" class="collection-row row align-items-center">
        <div class="col">
          <h2>Add an organization</h2>
        </div>
      </div>
      <div v-if="user.role && user.role.key ==='administrator'" ref="newItemRow" class="collection-row row align-items-center">
        <div class="col col-checkbox">
          <input type="checkbox" disabled />
        </div>
        <div class="col">
          <input type="text" class="form-control" name="name" v-model="newItem.properties.name" placeholder="Name" />
        </div>
        <div class="col">
          <div class="col">
            <div class="form-check form-switch">
              <label>
                <input class="form-check-input" type="checkbox" v-model="newItem.properties.visible"/>
                | Visible
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-md btn-primary" v-on:click.stop="add($event)">
            <i class="fas fa-plus"></i>
          </button>
          <span class="loader-sm" ref="addLoader">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>