<!-- @format -->

<div id="app">
  <div class="contour">
    <div class="center container-fluid">
      <div class="align-items-center">
        <div class="col">
          <h1>Unauthorized</h1>
        </div>
      </div>
      <div class="align-items-center">
        <div class="col">
          <h2>Your current role does not grant you access to this part of the website</h2>
        </div>
      </div>
    </div>
  </div>
</div>