extends ../../shared/layout.pug

block head
  link(rel="stylesheet" type="text/css" href=conf.pathname + "/views/unauthorized/app.css")

block app
  include ./app.pug

block scripts
  script(src=conf.pathname + "/views/unauthorized/app.js")