div(class='container-fluid')
  form(ref='uploadForm' id='uploadForm' action='' method='post' encType='multipart/form-data')
    div(class='row')
      div(class='col-12')
          label(for='uploadedFiles') File(s) mimetype(s) must be : xml/tei or application/pdf
    div(class='row')
      div(class='col-12')
          input(type='file' class='form-control-file' name='uploadedFiles' id='uploadedFiles' multiple)
    div(class='row')
      div(class='col-12')
          input(type='checkbox' class='form-control-file' name='dataseerML' id='dataseerML' value='dataseer-ml') 
          label(for='dataseerML') Process Dataseer-ML on file(s)
    div(class='row')
      div(class='col-12')
          button(type='submit' class='btn btn-primary btn-sm' id='addDocuments') Add new document(s)