div(id='datasetForm.screen')
  <div class="task-bar">
    <button class="btn btn-sm btn-primary" name="display-left"><i class="fas fa-arrow-left"></i></button>
    <!-- <button class="btn btn-sm btn-primary" name="display-middle"><i class="fas fa-align-center"></i></button> -->
    <button class="btn btn-sm btn-primary" name="display-right"><i class="fas fa-arrow-right"></i></button>
    <button class="btn btn-sm btn-primary" name="show"><i class="fas fa-plus"></i></button>
    <button class="btn btn-sm btn-danger" name="hide"><i class="fas fa-minus"></i></button>
  </div>
  <!-- <div class="sentence-display"> -->
    <!-- <img class="sentence-img"></img> -->
    <!-- <div class="sentence-text"></div> -->
  <!-- </div> -->
  <div id="datasetForm">
    <div id="datasetForm.message">
      <div>The selected sentences are not linked to a dataset</div>
      <div>If they are, click the button "Add new Dataset"</div>
    </div>
    <div id="datasetForm.container">
      <div id="datasetForm.loader"><i class="fas fa-spinner success-color-dark"></i></div>
      <table>
        <tr class="custom-row">
          <th colspan="4">
            <div key="datasets">
              <div key="dataset" class="tpl">
                <div key="dataset.tab" value=""></div>
                <div key="dataset.sentence">
                  <div key="sentence.id" value=""></div>
                  <div key="sentence.text" value=""></div>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr class="custom-row">
          <td class="dataset-header" colspan="4">
            <div key="dataset.label" value=""></div>
            <div key="dataset.status" value="unknow"></div>
            <div key="dataset.actionRequired" value="unknow"><i class="far fa-question-circle"></i></div>
            <button name='datasetForm.unlink' class="btn btn-danger btn-sm btn-lite" title="Unlink selected sentence to this dataset">
              <i class="fas fa-unlink"></i>
            </button>
          </td>
        </tr>
        <tr class="custom-row" style="display: none;">
          <td colspan="4">
            <div key="dataset.id" value="undefined">undefined</div>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Kind:</div>
            <div key="dataset.kind" value="undefined">undefined</div>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Text</div>
            <div key="sentence.text" value="undefined">undefined</div>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Please provide a Name for this dataset (e.g. 'sampling locations')</div>
            <div key="dataset.name" value=""></div>
            <input name="datasetForm.name" target="dataset.name" value="" type="text" placeholder="Provide the Name here" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row" style="display: none;">
          <td colspan="4">
            <div>flagged:</div>
            <div key="dataset.flagged" value="false"></div>
            <input name="datasetForm.flagged" target="dataset.flagged" type="checkbox" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td class="checkboxes" title="This dataset is re-used from another public or private source">
            <div>re-use:</div>
            <div key="dataset.reuse" value="false"></div>
            <input name="datasetForm.reuse" target="dataset.reuse" type="checkbox" class="form-control" />
          </td>
          <td class="checkboxes" title="This dataset was created for Quality Control (QC) or confirmatory purposes">
            <div>QC/Confirmatory:</div>
            <div key="dataset.qc" value="false"></div>
            <input name="datasetForm.qc" target="dataset.qc" type="checkbox" class="form-control" />
          </td>
          <td class="checkboxes" title="This dataset is a Representative Image (or another type of media)">
            <div>Representative Image:</div>
            <div key="dataset.representativeImage" value="false"></div>
            <input name="datasetForm.representativeImage" target="dataset.representativeImage" type="checkbox" class="form-control" />
          </td>
          <td class="checkboxes" title="Flag issues for authors">
            <div>Issue:</div>
            <div key="dataset.issues" value="false"></div>
            <input name="datasetForm.issues" target="dataset.issues" type="checkbox" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Data type</div>
            <div key="dataset.dataType" value=""></div>
            <select name="datasetForm.dataType" target="dataset.dataType" class="form-control"></select>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Sub type</div>
            <div key="dataset.subType" value=""></div>
            <select name="datasetForm.subType" target="dataset.subType" class="form-control"></select>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Custom Data type</div>
            <div key="dataset.customDataType" value=""></div>
            <input name="datasetForm.customDataType" target="dataset.customDataType" type="text" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Version</div>
            <div key="dataset.version" value=""></div>
            <input name="datasetForm.version" target="dataset.version" value="" type="text" placeholder="Version" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Source (Name of Lab or Commercial Source)</div>
            <div key="dataset.source" value=""></div>
            <input name="datasetForm.source" target="dataset.source" value="" type="text" placeholder="Provide the Source (Name of Lab or Commercial Source) here" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Catalog Number</div>
            <div key="dataset.catalogNumber" value=""></div>
            <input name="datasetForm.catalogNumber" target="dataset.catalogNumber" value="" type="text" placeholder="Provide the Catalog Number here" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>DOI or appropriate citation</div>
            <div key="dataset.DOI" value=""></div>
            <input name="datasetForm.DOI" target="dataset.DOI" value="" type="text" placeholder="https://" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Stable URL or other link to this object</div>
            <div key="dataset.URL" value=""></div>
            <input name="datasetForm.URL" target="dataset.URL" value="" type="text" placeholder="https://" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Accession Number/Permanent Identifier (PID)</div>
            <div key="dataset.PID" value=""></div>
            <input name="datasetForm.PID" target="dataset.PID" value="" type="text" placeholder="https://" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Research Resource Identifier (RRID)</div>
            <div key="dataset.RRID" value=""></div>
            <input name="datasetForm.RRID" target="dataset.RRID" value="" type="text" placeholder="Provide the RRID here" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Suggested Name of Entity</div>
            <div key="dataset.suggestedEntity" value=""></div>
            <input name="datasetForm.suggestedEntity" target="dataset.suggestedEntity" value="" type="text" placeholder="Provide the 'Suggested Name of Entity' here" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Suggested URL</div>
            <div key="dataset.suggestedURL" value=""></div>
            <input name="datasetForm.suggestedURL" target="dataset.suggestedURL" value="" type="text" placeholder="Provide the 'Suggested URL' here" class="form-control" />
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Suggested RRID</div>
            <div key="dataset.suggestedRRID" value=""></div>
            <input name="datasetForm.suggestedRRID" target="dataset.suggestedRRID" value="" type="text" placeholder="Provide the 'Suggested RRID' here" class="form-control" />
            <div key="dataset.RRIDUrls" value="undefined">undefined</div>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <div>Additional Comments or Instructions</div>
            <div key="dataset.comments" value=""></div>
            <textarea name="datasetForm.comments" target="dataset.comments" value="" type="text" placeholder="Enter any comments here" class="form-control"></textarea>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <button name='datasetForm.done' class='btn btn-primary'><i class="fas fa-check"></i> Done with this Dataset</button>
          </td>
        </tr>
        <tr class="custom-row">
          <td colspan="4">
            <button name='datasetForm.refreshDatatypes' class="btn btn-primary btn-sm" loading='false'>Refresh Datatypes <i class="fas fa-sync-alt"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>