<div id=datasetsList>
  <div id="datasetsList.container">
    <div id="datasetsList.container.items">
      <div id="datasetsList.container.items.message">Populating datasets list...</div>
      <div id="datasetsList.container.items.container"></div>
    </div>
    <div id="datasetsList.container.bulkActions">
      <div id="datasetsList.container.bulkActions.importDatasets" title="Import datasets from another document">
        <button class="btn btn-primary btn-sm"><i class="fas fa-download"></i></button>
      </div>
      <div id="datasetsList.container.bulkActions.newDataset" title="Add new Dataset on the selected sentence">
        <button class="btn btn-primary btn-sm">Add new Dataset <i class="fas fa-plus"></i></button>
      </div>
      <div id="datasetsList.container.bulkActions.mergeSelection" title="Merge all selected Datasets into the first one">
        <button class="btn btn-primary btn-sm">Merge selected Datasets <i class="fas fa-compress-arrows-alt"></i></button>
      </div>
      <div id="datasetsList.container.bulkActions.deleteSelection" title="Delete all selected Datasets">
        <button class="btn btn-danger btn-sm">Delete selected Datasets <i class="far fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>