div(class='container-fluid')
  each val, key in document.datasets
    div(class='row dataset-item')
      div(class='col-12')
        div(class='d-inline dataset-link' value=(key)) Dataset #{key}
        div(class='d-inline')
          button(class='delete_dataset btn btn-danger btn-sm' value=(key)) Delete
  div(class='row dataset-item')
    div(class='col-12')
      div(class='d-inline')
        button(class='add_datatype btn btn-primary btn-sm') Add new dataset