div(class='container-fluid')
  div(class='form-row')
    div(class='key d-inline') DataSet 
    div(id='dataset.id' class='value')
    div(id='dataset.status' class='value')
      div(class='d-inline warning warning-color-dark hidden')
        i(class='fas fa-cogs')
      div(class='d-inline success success-color-dark hidden')
        i(class='fas fa-check')

div(id='dataset-poperties-form' class='container-fluid')
  div(class='form-row')
    div(class='key d-inline font-weight-bold') Confidence : 
    div(class='value' id='dataset.confidence')

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Data type : 
    div(id='currentDataType')
      div(class='value' id='dataset.dataType')
      div(class='value')
        button(id='remove_current_datatype' class='btn btn-primary btn-sm')
          i(class='far fa-edit')
    div(id='dataset-dataType-form')
      select(class='form-control' id='dataset.selectedDataType')
        each dataType, index in dataTypes
          option(value=(index)) #{dataType.dataType}
      select(class='form-control hidden' id='dataset.selectedDescritpion')
        each dataType, index in dataTypes
          option(value=(index)) #{dataType.descritpion}
      select(class='form-control hidden' id='dataset.selectedBestDataFormatForSharing')
        each dataType, index in dataTypes
          option(value=(index)) #{dataType.bestDataFormatForSharing}
      select(class='form-control hidden' id='dataset.selectedMostSuitableRepositories')
        each dataType, index in dataTypes
          option(value=(index)) #{dataType.mostSuitableRepositories}
      button(id='dataType_validation' class='btn btn-primary btn-sm')
        i(class='far fa-save')
      button(id='dataType_cancel' class='btn btn-primary btn-sm') 
        i(class='far fa-window-close')

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Description : 
    div(class='value' id='dataset.descritpion')

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Best data format for sharing : 
    div(class='value' id='dataset.bestDataFormatForSharing')

  div(class='form-row')
    div(class='key d-inline font-weight-bold') Most suitable Repositories : 
    div(class='value' id='dataset.mostSuitableRepositories')

  div(class='form-row row-margin')
    label(for='dataset.name') Please provide a name for this dataset (e.g. 'heart pressure data') : 
    input(type='text' class='form-control' id='dataset.name' placeholder='' value='')

  div(class='form-row row-margin')
    label(for='dataset.DOI') Please provide the DOI (or other stable link) to this dataset : 
    input(type='text' class='form-control' id='dataset.DOI' placeholder='' value='')

  div(class='form-row row-margin')
    label(for='dataset.comments') Please enter any comments here (such as a reason why this dataset cannot be shared):
    textarea(class='form-control comments' id='dataset.comments' rows='3')

  div(class='form-row')
    div(class='col-12')
      button(id='dataset_validation' class='btn btn-primary btn-sm') Save DataSet 
        i(class='far fa-save')