extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(style='margin-top:10px;margin-left:10px;') Upload a new document: supported format are PDF, JATS/NLM, TEI XML, ...
          div(class='row')
              include ../forms/documents/upload.pug