extends ../../../../shared/layout.pug

block head
  link(rel="stylesheet" type="text/css" href=conf.pathname + "/views/backoffice/accounts/:id/app.css")

block app
  include ./app.pug

block scripts
  script(src=conf.pathname + "/views/backoffice/accounts/:id/app.js")