/*
 * @prettier
 */

.metadata {
  width: 100%;
  max-width: 100%;
  margin: 15px;
  padding: 15px;
}

.metadata label.property {
  font-weight: bold;
}

.buttons {
  margin-top: 15px;
}

.metadata button > svg,
.metadata button > i {
  margin-right: 5px;
}

.metadata input.form-control {
  display: inline-block;
  width: auto;
}

.metadata input.form-control.article_title {
  display: inline-block;
  width: 80%;
}