<!-- @format -->

<div id="app">
  <div class="notifications">
    <div v-for="notification in notifications" :class="notification.class" role="alert">
      <span v-html="notification.html"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="contour">
    <div class="metadata container-fluid">
      <div v-if="user.role && (user.role.key ==='visitor' || user.role.key ==='standardUser')"  class="row">
        <div class="col">
          <div v-if="item.properties.metadata.publisher">
            <label class="property">Publisher:</label>
            <label class="value">{{ item.properties.metadata.publisher }}</label>
          </div>
          <div v-if="item.properties.metadata.date_published">
            <label class="property">Publication date:</label>
            <label class="value">{{ item.properties.metadata.date_published }}</label>
          </div>
          <div v-if="item.properties.metadata.doi">
            <label class="property">DOI:</label>
            <label class="value">{{ item.properties.metadata.doi }}</label>
          </div>
          <div v-if="item.properties.metadata.pmid">
            <label class="property">PMID:</label>
            <label class="value">{{ item.properties.metadata.pmid }}</label>
          </div>
        </div>
      </div>
      <div v-if="user.role && (user.role.key ==='moderator' || user.role.key ==='administrator')"  class="row">
        <div class="col">
          <div>
            <label class="property">Publisher:</label>
            <input type="text" class="form-control" name="item.properties.metadata.publisher" v-model="item.properties.metadata.publisher" placeholder="Enter the publisher here" />
          </div>
          <div>
            <label class="property">Publication date:</label>
            <label class="value">{{ item.properties.metadata.date_published }}</label>
          </div>
          <div>
            <label class="property">DOI:</label>
            <input type="text" class="form-control" name="item.properties.metadata.doi" v-model="item.properties.metadata.doi" placeholder="Enter the doi here" />
          </div>
          <div>
            <label class="property">PMID:</label>
            <input type="text" class="form-control" name="item.properties.metadata.pmid" v-model="item.properties.metadata.pmid" placeholder="Enter the pmid here" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div v-if="item.properties.metadata.submitting_author">
            <label class="property">Submiting Author:</label>
            <label class="value">{{ item.properties.metadata.submitting_author }}</label>
          </div>
          <div v-if="item.properties.metadata.submitting_author_email">
            <label class="property">Submiting Author Email:</label>
            <label class="value">{{ item.properties.metadata.submitting_author_email }}</label>
          </div>
        </div>
      </div>
      <div v-if="user.role && (user.role.key ==='visitor' || user.role.key ==='standardUser')"  class="row">
        <div class="col">
          <div v-if="item.properties.metadata.article_title">
            <label class="property">Article Title:</label>
            <label class="value">{{ item.properties.metadata.article_title }}</label>
          </div>
        </div>
      </div>
      <div v-if="user.role && (user.role.key ==='moderator' || user.role.key ==='administrator')"  class="row">
        <div class="col">
          <div>
            <label class="property">Article Title:</label>
            <input type="text" class="form-control article_title" name="item.properties.metadata.article_title" v-model="item.properties.metadata.article_title" placeholder="Enter the article title here" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div v-if="item.properties.metadata.authors">
            <label class="property">Authors:</label>
            <ul>
              <li v-for="author in item.properties.metadata.authors" v-if="author.name">
                <label class="value">{{ author.name }}</label>
                <label v-if="author.email" class="bold">({{ author.email}})</label>
                <ul>
                  <li v-for="affiliation in author.affiliations">
                    <label class="value">{{ affiliation }}</label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row buttons" v-if="user.role && user.role.key === 'administrator'">
        <div class="col">
          <button class="btn btn-primary" v-on:click.stop="reloadMetadata()" title="Reload metadata" ref="reloadMetadata">
            | Reload Metadata
          </button>
          <span class="loader-md" ref="reloadMetadataLoader">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
        </div>
      </div>
      <div class="row buttons">
        <div class="col">
          <button class="btn btn-primary" v-on:click.stop="copy(buildDocumentURL({token: item.properties.token}))" title="Copy public URL to clipboard">
            <i class="fas fa-link"></i>
            | Get public URL of this document
          </button>
        </div>
      </div>
      <div class="row buttons">
        <div class="col center">
          <button class="btn btn-primary" v-on:click.stop="validateMetadata()" title="Validate metadata" ref="validateMetadata">
            | This info is correct: Continue
          </button>
          <span class="loader-md" ref="validateMetadataLoader">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
      </div>
        <div class="col center">
          <a href="mailto:tim@dataseer.ai">
            <button class="btn btn-primary" title="Send an email to DataSeer curator">
              | Something went wrong: Contact the DataSeer curator
            </button>
          </a>
      </div>
    </div>
  </div>
</div>