extends ../../shared/layout.pug

block head
  if(currentUser)
    <link rel="stylesheet" type="text/css" href="/views/resetPassword/logged.css">
  else 
    <link rel="stylesheet" type="text/css" href="/views/resetPassword/unlogged.css">

block app
  if(currentUser)
    include ./logged.pug
  else 
    include ./unlogged.pug

block scripts
  if(currentUser)
    <script src="/views/resetPassword/logged.js"></script>
  else
    <script src="/views/resetPassword/unlogged.js"></script>